name: feature-template
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pip
  - pytorch
  - torchvision
  - torchaudio
  - cpuonly  # Remove this line if you have CUDA and want GPU support
  - scikit-learn
  - pandas
  - numpy
  - matplotlib
  - pip:
    - -e .[dev,ml]